/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* LIKE ICON CONDITIONS */

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--cardAccentColor);
    padding: 0;
    block-size: 38px;
    transition: border 0.3s ease;
}

.like-icon:hover {
    cursor: pointer;
}

.contour {
    fill: var(--heartConturColor);
    transition: fill 0.1s;
}

.is-liked .contour {
    fill: var(--heartFillColor);
    transition: fill 0.3s 0.06s;
}

.main-body {
    fill: var(--heartConturColor);
    opacity: 0;
    transition: opacity 0.3s;
}

.like-icon:hover .main-body {
    opacity: 1;
    transition: opacity 0.3s 0.05s;
}

.like-icon:active .main-body {
    fill: var(--heartFillColor);
    transition: fill 0.3s 0.05s;
}

.is-liked .main-body {
    fill: var(--heartFillColor);
    transition: fill 0.3s 0.05s;
}

.core {
    fill: var(--heartConturColor);
    opacity: 0;
    transition: opacity 0.3s 0.03s;
}

.like-icon:hover .core {
    opacity: 1;
    transition: opacity 0.3s;
}

.like-icon:active .core {
    fill: var(--heartFillColor);
    transition: fill 0.3s 0.05s;
}

.is-liked .core {
    fill: var(--heartFillColor);
    transition: fill 0.3s 0.03s;
}

.sparks {
    fill: var(--heartFillColor);
    opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .is-liked .heart .main-body {
        animation: fillHeart 0.3s 0.01s ease-in forwards;
    }

    .is-liked .heart .core {
        animation: fillCoreHeart 0.3s 0.01s ease-in forwards;
    }

    .is-liked .sparks {
        animation: sparksDrop 0.3s 0.3s ease-in normal;
    }

    .is-liked .heart {
        animation: scaleHeart 0.3s 0.01s ease-in normal;
    }
}

@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(4px);
    }
}

@keyframes scaleHeart {
    from {
        transform: scale(1);
        transform-origin: center;
    }
    to {
        transform: scale(1.5);
        transform-origin: center;
    }
}

@keyframes sparksDrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fillHeart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fillCoreHeart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
