/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

html {
    color-scheme: light dark;
}

.page {
    width: 100%;
    max-inline-size: 696px;
    min-block-size: 100dvb;
    font-family: sans-serif;
    color: var(--accentColor);
    background-size: cover;
    background-image: var(--backgroundGradient);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 100px auto;
}

@supports (font-variation-settings: normal) {
    .page {
        font-family: var(--interVariable), serif;
        font-weight: var(--cardTextFont);
    }
}

.header {
    width: 100%;
    /* max-inline-size: 700px; */
    font-family: var(--pressStart), serif;
    background-color: var(--cardBackgroundColor);
    border: 2px solid var(--cardAccentColor);
    padding-block-start: clamp(6.85rem, 4.9656rem + 8.125vw, 8.5rem);
    padding-block-end: 20px;
    padding-inline-start: clamp(0.875rem, -6.901rem + 33.1776vw, 7.53125rem);
    padding-inline-end: clamp(0.875rem, -6.901rem + 33.1776vw, 7.53125rem);
    margin-block-end: 100px;
}

.header * {
    text-decoration: none;
}

.header *:focus {
    outline: none;
}

.header__title {
    font-family: inherit;
    font-size: clamp(3.0625rem, 1.8875rem + 5vw, 4.0625rem);
    line-height: 65px;
    margin-block-end: 10px;
}

.header__sub_title {
    font-family: inherit;
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    line-height: clamp(0.875rem, 0.6705rem + 3.2727vw, 1.4375rem);
    margin-block-end: 20px;
    text-transform: uppercase;
}

/* MENU */

.theme-menu__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    padding-inline-start: 15px;
}

.theme-menu__item {
    margin: 0;
    padding-inline-start: 5px;
}

.theme-menu__button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.theme-menu__button:disabled {
    opacity: 0.6;
    position: relative;
    pointer-events: none;
    padding-block-start: 4px;
}

.theme-menu__item:has(:disabled)::marker {
    content: "▶";
    position: absolute;
    color: var(--markerColor);
    transform: translate(-10%);
    animation: moving 0.8s infinite ease-in-out;
}

.theme-menu__item:has(.theme-menu__button:disabled) {
    padding-block-start: 0px;
}

/* MENU BUTTON CONDITIONS */

.theme-menu__button:hover {
    opacity: 0.6;
    transition: 0.3s ease;
    cursor: pointer;
}

.theme-menu__button::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-top: 3px;
    background-color: var(--cardAccentColor);
    opacity: 0.6;
    transition: 0;
}

.theme-menu__button:focus-visible::after {
    width: 100%;
    background-color: var(--cardAccentColor);
    transition: width 0.3s ease, background-color 0.3s;
    outline: none;
    opacity: 0.6;
}

.theme-menu__button:focus-visible {
    opacity: 0.6;
    transition: 0.3s ease;
}

.theme-menu__item:focus {
    outline: none;
}

/* CARDS */

.section_position {
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cardAccentColor);
}

.card-container {
    max-inline-size: 700px;
    font-family: var(--interVariable), serif;
}

.card {
    width: 100%;
    inline-size: clamp(23.4375rem, 0rem + 100vw, 43.5rem);
    overflow: hidden;
    margin-block-end: 50px;
    background-color: var(--cardBackgroundColor);
    border: 2px solid var(--cardAccentColor);
}

.card__title {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    padding-inline-start: 10px;
    padding-block-start: 3px;
    padding-block-end: 6px;
    white-space: break-spaces;
}

.card__image_container {
    border-block-start: 2px solid var(--cardAccentColor);
    display: flex;
    position: relative;
    aspect-ratio: 1 / 1;
}

.card__label {
    position: absolute;
    opacity: 0.5;
    top: 20px;
    right: 11px;
    font-family: var(--pressStart), serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-shadow: -01px 0 var(--cardBackgroundColor),
        0 01px var(--cardBackgroundColor), 01px 0 var(--cardBackgroundColor),
        0 -01px var(--cardBackgroundColor);
    color: var(--cardAccentColor);
    z-index: 2;
}

@supports (
    (text-stroke: 1px var(--cardBackgroundColor)) or
        (-webkit-text-stroke: 1px var(--cardBackgroundColor))
) {
    .card__label {
        -webkit-text-stroke: 1px var(--cardBackgroundColor);
        text-stroke: 1px var(--cardBackgroundColor);
        text-shadow: none;
    }
}

.card__image {
    inline-size: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.grayscale {
    filter: grayscale(75%) brightness(110%);
}

.saturate {
    filter: saturate(400%);
}

.hue-rotate {
    filter: hue-rotate(30deg);
}

.invert {
    filter: invert(80%);
}

.sepia {
    filter: sepia(95%);
}

.blur {
    filter: blur(16px);
}

.contrast {
    filter: hue-rotate(80deg) blur(2.2px) contrast(48%) saturate(350%)
        grayscale(55%);
}

.card__text_container {
    border-block-start: 2px solid var(--cardAccentColor);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card__text {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.card__text_container .card__text:nth-child(0n) {
    margin-block-end: 27px;
}

.card__button_container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.card__like-button {
    background-color: transparent;
    border: 2px solid var(--cardAccentColor);
    font-family: var(--pressStart), serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    inline-size: 130px;
    block-size: 38px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button__text {
    color: var(--cardAccentColor);
}

.card__icon-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block-start: 5px;
}

/* FLOPPY SAVE BUTTON */

.page__save_button {
    width: clamp(19.125rem, 17.0076rem + 9.0343vw, 20.9375rem);
    padding-block-start: clamp(0.9375rem, 0.682rem + 1.0903vw, 1.15625rem);
    padding-block-end: clamp(0.9375rem, 0.682rem + 1.0903vw, 1.15625rem);
    background-color: var(--cardBackgroundColor);
    border: 2px solid var(--cardAccentColor);
    font-family: var(--pressStart), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.floppy_icon {
    block-size: clamp(1.75rem, 2.2611rem + -2.1807vw, 1.3125rem);
    inline-size: clamp(1.75rem, 2.2611rem + -2.1807vw, 1.3125rem);
    fill: var(--cardAccentColor);
}

/* DIALOG */

.dialog {
    bottom: 11px;
    inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
    block-size: clamp(11.9375rem, 11.8935rem + 0.1878vw, 12.0625rem);
    padding: 30px 42px;
    background-color: var(--cardBackgroundColor);
    color: var(--cardAccentColor);
    border: 2px solid var(--cardAccentColor);
    font-family: var(--pressStart), serif;
    overflow: hidden;
}

.dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
    opacity: 0;
    pointer-events: none;
}

.dialog_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dialog_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-block-size: 68px;
    gap: 20px;
}

.dialog_floppy {
    block-size: 97.5px;
    inline-size: 97.5px;
    fill: var(--cardAccentColor);
}

.dialog__text {
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.dialog__button {
    width: 100%;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 38px;
    border: 2px solid var(--cardAccentColor);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

.dialog_button__text {
    display: block;
    margin: auto;
}

.dialog__button:focus-visible {
    box-shadow: 2px 2px 0 var(--cardAccentColor);
    transition: box-shadow 0.3s ease;
}

.dialog__button:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--cardAccentColor);
}

.dialog__button:hover:after {
    left: 100%;
}

.dialog__button:hover .dialog_button__text {
    position: relative;
    color: var(--colorButtonText);
    mix-blend-mode: difference;
    z-index: 15;
}

/* LIKE & SAVE BUTTON CONDITIONS */

.card__like-button:focus,
.card__icon-button:focus,
.page__save_button:focus,
.dialog .dialog__button:focus {
    outline: none;
}

.card__like-button:focus-visible,
.page__save_button:focus-visible {
    box-shadow: 2px 2px 0 var(--cardAccentColor);
    transition: box-shadow 0.3s ease;
}

.card__like-button:after,
.page__save_button:after,
.dialog_button:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--cardAccentColor);
}

.card__like-button:hover:after,
.page__save_button:hover:after,
.dialog__button:hover:after {
    left: 0%;
}

.theme-light.card__like-button:hover .button__text,
.theme-light.page__save_button:hover .button__text,
.theme-light.page__save_button:hover .floppy_icon,
.theme-light .dialog__button:hover .button__text {
    position: relative;
    color: var(--colorButtonText);
    mix-blend-mode: difference;
    z-index: 5;
}

.card__like-button:hover .button__text,
.page__save_button:hover .button__text,
.page__save_button:hover .floppy_icon,
.dialog__button:hover .dialog_button__text {
    position: relative;
    color: var(--colorButtonText);
    mix-blend-mode: difference;
    z-index: 5;
}

/* MEDIA */

@media (width >= 1440px) {
    .header__title {
        margin-block-end: 20px;
    }

    .header__title_link {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .card__title {
        padding-block-start: 7px;
    }

    .card__label {
        top: 26px;
        right: 23px;
    }

    .card__image {
        block-size: 696px;
    }

    .card__text:first-of-type {
        padding-block-end: 2px;
    }

    .card__text_container {
        gap: 24px;
        padding-block-end: 23px;
    }

    .floppy_icon {
        block-size: 21px;
        inline-size: 21px;
    }

    .page__save_button {
        max-block-size: 55px;
        flex-direction: row;
        justify-content: start;
        padding-inline-start: 16px;
        padding-block-end: 20px;
        margin-block-start: -5px;
    }

    .dialog {
        padding-inline-start: 30px;
        padding-inline-end: 30px;
    }

    .margin {
        margin-block-end: -3.4px;
    }
}
